@model Solucion_Comercio.Models.TbFactura

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TbFactura</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFactura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFactura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontoColones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoColones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontoDolares)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoDolares)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontoTarjeta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoTarjeta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontoTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreUsuarioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreUsuarioNavigation.IdUsuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdFactura">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
