@model IEnumerable<Solucion_Comercio.Models.TbRole>

@{
    ViewData["Title"] = "Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Roles</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Crear Rol</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreRol)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreRol)
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.IdRol">Editar</a> |
                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.IdRol">Detalles</a> |
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.IdRol">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
